<md-content flex layout-padding>
  <form>
    <fieldset class="standard" ng-disabled="!vm.fieldEditable">
      <legend>Personal Information</legend>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Nickname</label>
          <input ng-model="vm.employee.nickname">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Employee Id</label>
          <input ng-model="vm.employee.employeeId" disabled>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <div layout="column" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Department</label>
            <input ng-model="vm.employee.department" disabled>
          </md-input-container>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Client</label>
            <input ng-model="vm.employee.client" disabled>
          </md-input-container>
        </div>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <div layout="row" layout-align="center center" flex-gt-sm>
          <md-input-container class="md-block">
            <label>Date Hired</label>
            <md-datepicker ng-model="vm.employee.datestart"></md-datepicker>
          </md-input-container>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>

          <md-input-container class="md-block">
            <label>Date Finished</label>
            <md-datepicker ng-model="vm.employee.datefinish"></md-datepicker>
          </md-input-container>
        </div>

      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Position</label>
          <input ng-model="vm.employee.position">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>HR Title</label>
          <input ng-model="vm.employee.hrTitle">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Mobile Number</label>
          <input ng-model="vm.employee.mobile">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Email Address</label>
          <input ng-model="vm.employee.email" type="email" ng-required="true">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>SSS</label>
          <input ng-model="vm.employee.sss">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>PHILHEALTH</label>
          <input ng-model="vm.employee.philhealth">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>TIN</label>
          <input ng-model="vm.employee.tin">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>PAGIBIG</label>
          <input ng-model="vm.employee.pagibig">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Manager</label>
          <md-select ng-model="vm.employee.manager" ng-disabled="!vm.fieldEditable">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="supervisor in vm.options.supervisors" ng-value="supervisor.id">
              {{supervisor.firstname}} {{supervisor.lastname}}
            </md-option>
          </md-select>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Cubicle Assignment</label>
          <input ng-model="vm.employee.seatAssign" disabled>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Employment Status</label>
          <md-select ng-model="vm.employee.employee_status" ng-disabled="!vm.fieldEditable">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="employee_status in vm.options.employee_statuses" ng-value="$index">
              {{employee_status}}
            </md-option>
          </md-select>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <div layout="row" flex-gt-sm>
          <div class="md-block" flex="50">
            <md-switch ng-model="vm.employee.isSalesRep" aria-label="Is Sales Rep?" class="md-primary" ng-disabled="!vm.fieldEditable">
              Is Sales Rep? <span class="left-space">{{ vm.employee.isSalesRep | yesOrNo }}</span>
            </md-switch>
          </div>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>

          <div class="md-block" flex="50">
            <md-switch ng-model="vm.employee.isRecruiter" aria-label="Is Recruiter?" class="md-primary" ng-disabled="!vm.fieldEditable">
              Is Recruiter? <span class="left-space">{{ vm.employee.isRecruiter | yesOrNo }}</span>
            </md-switch>
          </div>
        </div>
      </div>
    </fieldset>

    <div ng-if="vm.loaded">
      <div layout="row" layout-align="end center" ng-if="!vm.fieldEditable" layout-padding>
        <md-button class="md-raised md-primary" ng-click="vm.toggleEdit()">Edit</md-button>
      </div>

      <div layout="row" layout-align="end center" ng-if="vm.fieldEditable" layout-padding>
        <md-button class="md-raised md-primary" ng-click="vm.toggleEdit()">Cancel</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.saveProfile()">Save Changes</md-button>
      </div>
    </div>

  </form>
</md-content>