<md-content flex layout-padding>
  <form ng-submit="vm.saveProfile()" name="profileForm">
    <fieldset class="standard" ng-disabled="!vm.fieldEditable">
      <legend>Personal Information</legend>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Nickname</label>
        <input ng-model="vm.employee.nickname" ng-required="true">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Current Address</label>
        <input ng-model="vm.employee.address01" ng-required="true">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Permanent Address</label>
        <input ng-model="vm.employee.address02">
      </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Personal Email address</label>
          <input ng-model="vm.employee.secondaryemail" type="email" ng-required="true">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        
        <md-input-container class="md-block" flex-gt-sm>
          <label>Mobile No.</label>
          <input ng-model="vm.employee.telephone01" ng-required="true">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Home No.</label>
          <input ng-model="vm.employee.telephone02">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Emergency Contact Person</label>
          <input ng-model="vm.employee.emergency_contact_name" ng-required="true">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Emergency Contact No.</label>
          <input ng-model="vm.employee.emergency_contact_no" ng-required="true">
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Relationship to contact person</label>
          <input ng-model="vm.employee.emergency_contact_relationship">
        </md-input-container>
      </div>
    </fieldset>

    <div ng-if="vm.loaded">
      <div layout="row" layout-align="end center" ng-if="!vm.fieldEditable" layout-padding>
        <md-button class="md-raised md-primary" ng-click="vm.fieldEditable = !vm.fieldEditable">Edit</md-button>
      </div>

      <div layout="row" layout-align="end center" ng-if="vm.fieldEditable" layout-padding>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.saving">
          {{ vm.saving ? 'Saving' : 'Save Changes' }}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.fieldEditable = !vm.fieldEditable">Cancel</md-button>
      </div>
    </div>

  </form>
</md-content>