<md-toolbar>
    <div class="md-toolbar-tools">
        <!-- <h2>
          <span>Toolbar with Standard Buttons</span>
        </h2> -->
        <md-button class="md-icon-button" ng-click="vm.openSideNav()" hide-gt-sm>
            <md-icon md-font-set="material-icons"> dehaze </md-icon>
        </md-button>
        <span flex></span>
        <md-menu>
            <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                <md-icon md-font-set="material-icons"> notifications </md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Notification 1
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Notification 2
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Notification 3
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Notification 4
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Notification 5
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                <md-icon md-font-set="material-icons"> view_module </md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ui-sref="app.update_profile">
                        <md-icon md-font-set="material-icons"> account_circle </md-icon>
                        Profile Settings
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">
                        <md-icon md-font-set="material-icons"> power_settings_new </md-icon>
                        Log out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
